<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.584.1" targetFramework="net45" />
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net45" />
  <package id="ManagedCuda-CUBLAS" version="8.0.22" targetFramework="net45" />
  <package id="ManagedCuda-CUFFT" version="8.0.22" targetFramework="net45" />
</packages>